* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
  /* font-family: "Lato", sans-serif; */
}

.App-root {}

.App-main {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.navbar-container-app-main {
  width: 100%;
}

.main-section {
  width: 100%;
  height: 100%;
  margin-top: 2em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1fr;
  gap: 1em;
  z-index: 10;
  /* overflow-y: hidden; */
}

.text-hero-section {
  display: flex;
  overflow-y: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 3em;

}

.text-part {
  text-align: center;
  color: blue;
}

.text-hero-section p {
  font-size: 2em;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}

.text-hero-section p:hover {
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);;
}

.get-started-button {
  margin-top: 3em;
}

.get-started-button button {
  padding-inline: 3em;
  font-size: 1.3em;
  background-color: transparent;
  padding-block: 0.5em;
  color: #2f8eed;
  border: 1px solid blue;
  cursor: pointer;
  transition: all 0.4s ease-out;
  position: relative;
  z-index: 1;
  border-radius: 0.5em;

}

.get-started-button button::before {
  z-index: -1;
  content: "";
  border-radius: 0.5em;
  position: absolute;
  width: 100%;
  background-color: #2f8eed;
  height: 100%;
  top: 0;
  left: 0;
  transform-origin: 0 0;
  transition: all 0.4s ease-out;
  transform: scaleX(0);

}

.get-started-button button:hover::before {
  transform: scaleX(1);
  color: #282c34;
}

.get-started-button button:hover {
  color: white;

}


.hero-one,
.hero-three {
  padding-block: 2em;
  /* border: 1px solid black; */
  overflow-y: hidden;
  
}

.hero-one .sliding-section-child{
  animation: scrolls 6s  1s infinite ;
}

.hero-three .sliding-section-child{
  animation: scrollsReverse 6s 1s infinite ;
}

.text-hero-section:hover {
  transform: translateY(1);
}

.sliding-section-container {
  display: grid;
  gap: 1em;
}

.sliding-section-child {
  
  height: 15em;
  width: 15em;
  color: black;
  border-radius: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #00c6ff 0%, #0072ff 100%);;
  
}

.sliding-section-child p {
  font-size: 1em;
}

.hero-two p{
  color: #4d4f50;
  text-shadow: none;
}

.hero-two p:hover{
  color: #4d4f50;
  text-shadow: none;
}


@keyframes scrolls {
  0% {
    transform: translateY(0%);
  }
  
  100% {
    transform: translateY(100%);
  }
  
}

@keyframes scrollsReverse {
  0% {
    transform: translateY(100%);
  }
  
  100% {
    transform: translateY(0%);
  }
  
}

/* main-section-two  */

.main-section-two{
  padding: 5em 2rem;
  width: 100vw;
  height: 100vh;
  border:1px solid black;
  /* background-color: #2f8eed; */
  position: relative;
  z-index: 100;
}

.main-section-two::before{
  background: linear-gradient(180deg, #25d0ff 10%, #0066e2 90%);
  content: "";
  top: 0;
  left: 0;
  display: block;
  position: absolute;
  width: 100vw;
  border-radius:  0 0  100% 100%;
  height: 40vh;
  z-index: -1;
}

.choose-section{
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid black; */
  height: 30vh;
} 

.choose-section p{
  color: rgba(255,255, 255, 0.9);
  font-size: 3em;
  text-transform: uppercase;
}

.card-container-main-section-two{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* border: 1px solid black; */
  /* border:1px solid black; */
  margin-top: 2rem;

}

.child-card-main-section-two{
  background: linear-gradient(180deg, #25d0ff 0%, #0073ff 100%);
  width: 15vw;
  height: 20rem;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
  padding-inline: 1rem;
  padding-block: 1rem;
  transition: all 0.4s ease-out;
  cursor: pointer;
  box-shadow:-3px 3px 1px 1px rgba(0,0,0,0.6);
}
.child-card-main-section-two:hover{
  /* box-shadow: -10px 10px 0px rgba(0, 102, 226, 0.5), -20px 20px 0px rgba(0, 102, 226, 0.3), -30px 30px 0px rgba(0, 102, 226, 0.1); */
  box-shadow: -10px 10px 0px rgba(33, 33, 33, 1), -20px 20px 0px rgba(33, 33, 33, 0.7), -30px 30px 0px rgba(33, 33, 33, 0.4), -40px 40px 0px rgba(33, 33, 33, 0.1);
  transform: scale(1.05);
}

.child-card-main-section-two p{
  
}

.child-card-main-section-two img{
  width: 100%;
  height: 60%;
  object-fit: cover;
  border-radius: 2rem;
  margin-bottom: 3em;
}












@media (max-width : 768px) {
  .main-section {
    flex-direction: column;
  }

}