.hackPage-main{
    /* padding-top: 4.5em; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.hackpage-main-content{
    padding: 2em 2em;
    display: flex;
    gap: 1rem;
}

.hackpage-card-container{
    width: 15vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 3rem;
    background-color: #ddf;
    height:40vh;
    border-radius: 2em;
}

@media (max-width : 768px) {
    .hackpage-card-container{
        width: 30vw;
    }
}