.Navbar-main {
    display: flex;
    width: 100%;
    position: fixed;
    top:0;
    z-index: 110;
    background-color:  #222f3c;
    box-shadow: 1px 1px 4px rgba(0,0,0,0.3);
    padding: 1em;
}

.Navbar-main:hover{
    box-shadow: 1px 1px 5px  rgba(0,0,0,0.2);
}


nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: white;
    text-shadow: 1px 1px 5px rgba(0,0,0,0.5);
    text-decoration: none;
}

.website-title-navbar {
    flex-shrink: 0;
    padding-left: 2em;
}

.website-title-navbar a {
    font-size: 2em;
}


ul {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
    flex-grow: 1;
    justify-content: center;
}

ul a {
    margin-left: 3em;
    font-size: 1.3em;
    transition: all 0.4s ease;
    padding-inline: 0.5em;
}

ul a:hover::after {
    width: 100%;
}


ul a::after {
    top: 0;
    width: 0%;
    content: "";
    display: block;
    margin: 0 auto;
    height: 3px;
    background-color: white;
    margin-top: 3px;
    transition: all 0.5s ease-out;
}




@media (max-width: 768px) {

    nav {
        flex-direction: column;
    }

    ul {
        flex-direction: column;
    }

    .website-title-navbar {
        margin-bottom: 1em;
    }

    .website-title-navbar a {
        font-size: 1.5em;
        /* Adjust font size */
        text-align: center;
    }

    ul a {
        font-size: 1.2em;
        /* Smaller font size */
        margin-left: 1em;
        /* Adjust margin */
        text-align: center;
    }
}